<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://xmlns.jcp.org/xml/ns/javaee"
xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <display-name>Bibliotheque</display-name>

  <context-param>
<param-name>JDBC_DRIVER</param-name>
<param-value>com.mysql.cj.jdbc.Driver</param-value>
</context-param>
<context-param>
<param-name>JDBC_URL</param-name>
<param-value>jdbc:mysql://localhost:3306/la_bibliotheque?serverTimezone=Europe/Paris</param-value>
</context-param>
<context-param>
<param-name>JDBC_LOGIN</param-name>
<param-value>root</param-value>
</context-param>
<context-param>
<param-name>JDBC_PASSWORD</param-name>
<param-value>nata0904elle0909</param-value>
</context-param>
<session-config>
<session-timeout>20</session-timeout>

</session-config>
<welcome-file-list>
<welcome-file>helloservlet</welcome-file>
</welcome-file-list>
  
</web-app>